*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.container{
    text-align: center;
    justify-content: center;
    padding-top: 15px;
    font-size:14px;
}
#navbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;


}
#navbarSupportedContent a{
    color: white !important;
    transition: .5s;
    
}
#navbarSupportedContent a:hover {
    color:blue !important
}
#iphones img{
    width:300opx;
    height: 250px;
    border: none;
}
.card{
    box-shadow: 5px 5px 5px  rgb(248, 244, 244),
               inset 5px 5px 5px 5px rgb(249, 247, 244);
    ;
    margin:20px 60px;
    border:none;
}
.submit{
    padding:5px 20px;
}
.card card-text{
    color: blue !important;
}
.card:hover {
    box-shadow:5px 5px 5px rgb(38, 35, 35) ;
    
}
#logo{
    font-size: 28px;
}
#hed{
    font-size: 25px;
}


.purchase buy{
    text-align: center;
    justify-content: center;
}
.foot final{
    background-color: black !important;
    color: white !important;

}
#footer{
    background-color: black!important;
    color: aliceblue;

}
#ca{
    color: white !important;
}

#navbar car{
    color: white !important;
}
